{% extends "layouts/blank.html" %}

{% block page %}
<div class="layout-login__overlay"></div>
<div class="layout-login__form bg-white">
  <div class="d-flex justify-content-center mt-2 mb-5 navbar-light">
    <div class="navbar-brand">
      <img class="navbar-brand-icon" src="{{ url_for('static', filename='assets/images/logo.png') }}" width="35" alt="Pratilipi Logo">
      <img class="navbar-brand-icon" src="{{ url_for('static', filename='assets/images/text.png') }}" width="80" alt="Pratilipi Brand">
    </div>
  </div>

  <h5 class="m-0">Create an account!</h5>
  <p class="mb-5">Let's get you started with a account.</p>

  {% for category, message in get_flashed_messages(with_categories=true) %}
    {% if category=='success' %}
      <div class="alert alert-success" id="errordiv">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <i class="material-icons mr-3">check</i> {{ message }} 
      </div>
    {% elif category=='warning' %}
      <div class="alert alert-warning" id="errordiv">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <i class="material-icons mr-3">warning</i> {{ message }} 
      </div>
    {% elif category=='info' %}
      <div class="alert alert-info" id="errordiv">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <i class="material-icons mr-3">info_outline</i> {{ message }} 
      </div>
    {% else %}
      <div class="alert alert-danger" id="errordiv">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <i class="material-icons mr-3">error_outline</i> {{ message }} 
      </div>
    {% endif %}
  {% endfor %}

  <form method="POST">

    <div class="row">

      <div class="col">
        <div class="form-group">
          <label class="text-label" for="name_2">First Name</label>
          <div class="input-group input-group-merge">
            <input id="first_name" name="first_name" type="text" required="" class="form-control form-control-prepended" placeholder="First Name">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="far fa-user"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label class="text-label" for="name_2">Last Name</label>
          <div class="input-group input-group-merge">
            <input id="last_name" name="last_name" type="text" required="" class="form-control form-control-prepended" placeholder="Last Name">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="far fa-user"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="form-group">
      <label class="text-label" for="email_2">Email Address</label>
      <div class="input-group input-group-merge">
        <input id="email" name="email" type="email" required="" class="form-control form-control-prepended" placeholder="example@email.com">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <span class="far fa-envelope"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col">
        <div class="form-group">
          <label class="text-label" for="password_2">Password</label>
          <div class="input-group input-group-merge">
            <input id="password" name="password" type="password" required="" class="form-control form-control-prepended" placeholder="Enter Password">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="fa fa-key"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label class="text-label" for="password_2">Confirm Password</label>
          <div class="input-group input-group-merge">
            <input id="confirm_password" name="confirm_password" type="password" required="" class="form-control form-control-prepended" placeholder="Confirm Password">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="fa fa-key"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="form-group text-center">
      <button class="btn btn-primary btn-block" id="submit" name="submit" type="submit">Create an Account</button><br>
      <a class="text-body text-underline" href="{{ url_for('auth_bp.login') }}">Have an account? Login</a>
    </div>
  </form>

  

</div>
{% endblock %}
