<!-- jQuery -->
<script src="{{ url_for('static', filename='assets/vendor/jquery.min.js') }}"></script>

<!-- Bootstrap -->
<script src="{{ url_for('static', filename='assets/vendor/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/bootstrap.min.js') }}"></script>

<!-- Simplebar -->
<script src="{{ url_for('static', filename='assets/vendor/simplebar.min.js') }}"></script>

<!-- DOM Factory -->
<script src="{{ url_for('static', filename='assets/vendor/dom-factory.js') }}"></script>

<!-- MDK -->
<script src="{{ url_for('static', filename='assets/vendor/material-design-kit.js') }}"></script>

<!-- App -->
<script src="{{ url_for('static', filename='assets/js/toggle-check-all.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/check-selected-row.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/dropdown.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/sidebar-mini.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/app.js') }}"></script>

<!-- Global Settings -->
<script src="{{ url_for('static', filename='assets/js/settings.js') }}"></script>

<!-- Main -->
<script src="{{ url_for('static', filename='dist/js/main.min.js') }}"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>